*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #95CDD6;
    margin: 0 auto;
    margin-top: 100px;
    width: 70%;
}
.calculator{
    margin: 0 auto;
    padding: 30px 0;
    width: 70%;
}
.keys{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: repeat(5, 75px);   
}
.display input{
    color: #fff;
    background-color: #000;
    border: solid 1px #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: 0px;
    font-size: 50px;
    letter-spacing: 3px;
    height: 100px;
    width: 400px;
}
button{
    border: solid 1px gray;
} 
.equalSign{
    background-color: #F98A6A;
    grid-row: span 4;
}